
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,500&display=swap');


  /*
  Paletas 
  Rosa suave: #fcc9d9;
  Celeste: #a9dfe2;
  Azul: #5c6898;
  Lila: #d1d5fa;
  */
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #d1d5fa;
    overflow-x: hidden;
}


.container{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: #5c6898;
    
/* background: linear-gradient(180deg, rgba(2,0,36,1) 10%, rgba(179,179,179,0.5721638997395833) 100%); */

}

.container header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    
    
}

.container header .logo a{
    font-weight: 700;
    font-size: 1.7rem;
    text-decoration: none;
    color:#fcc9d9
}


.container header ul{
    display: flex;
    list-style: none;
    

}

.container header nav ul li a{
    text-align: none;
    font-weight: 300;
    color: whitesmoke;
    margin: 0 15px;
    padding: 3px;
   transition: .5s;
   text-decoration: none;
}

.container header nav ul li a:hover{
    color:#a9dfe2;

}

.menu-responsive{
    background-color:#fdb3ca;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*INICIO*/

.inicio{
    color: #5c6898;
    display: flex;
    align-items: center;
}

.inicio div h1{
    font-weight: 800;
}

.inicio div h2{
    font-weight: 600;
}

.inicio div img{
    max-width: 400px;
    margin-top: 50px;
    display: block;
    
}

.inicio .contenido-banner{
    background-color: #fcc9d9 ;
    padding: 20px;
    max-width: 350px;
    margin: auto;
    border-radius: 80px;
    text-align: center;
}

.inicio .contenido-banner .redes {

display: flex;
align-items: center;
justify-content: space-around;
padding: 12px;
}

.inicio .contenido-banner .redes a{
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 42px;
    font-size: 40px;
    transition: .3s;
    
}

.inicio .contenido-banner .redes a:hover{
   background-color:#a9dfe2 ;
    
}

.about{
    background-color: #5c6898;
    color: whitesmoke;
    margin-top: 50px;
    padding-bottom: 10px;
    width: 100%;
    
}

.about .contenido-about{
    max-width: 1000px;
    margin: auto;
    
}

.about h2{
    font-weight: 700;
    text-align: center;
    padding: 20px 0px;
    
}

.about .contenido-about p{
    line-height: 22px;
    font-weight: 300;
    text-align: justify;
    
}

.about .contenido-about p span{
    color:#fdb3ca; 
    font-weight: 700;
}

.about .fila{
    display: flex;
    align-items: center;
    justify-content: space-around
}

.about .fila h3{
    color: #a9dfe2;
    font-weight: 600;
    margin: 30px;
    
}

.about .fila .col ul{
    list-style: none;
}

.about .fila .col ul li{
    margin: 10px 0px;
}

.about .fila .col ul li strong{
    font-weight: 800;
    display: inline-block;
    width: 130px;
}

.about .fila .col .contenedor-intereses{
  display: flex;
flex-wrap: wrap;
}

.about .fila .col .contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: #d1d5fa;
    border-radius: 15px;
    margin: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .6s;
    color: #5c6898;
    
  }
  
  .about .fila .col .contenedor-intereses .intereses:hover{
    background-color: #a9dfe2;
  }

  .about .fila .col .contenedor-intereses .intereses i{
    font-size: 30px;
    }

    .about button{

        cursor: pointer;
        background-color: transparent;
        border: 2px solid #d1d5fa;
        padding: 15px 20px;
        border-radius: 30px;
        font-weight: 700;
        color: whitesmoke;
        font-size: 20px;

    }



.about .centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}



    .about button:hover{
        background-color: #a9dfe2;
        color: #5c6898;
        border: none;
    }


    /*SKILLS*/

  
    
    .skills .contenido-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills .contenido-section h2{
       
        width: 150px;
        text-align: center;
        margin: 15px;
        background-color: #5c6898;
        color: whitesmoke;
        font-weight: 700;
        border-radius: 30px;
    }

    .skills .fila{
      
        display: flex;
        margin: 15px;
        width: 1200px;
        justify-content: space-around;
    }

 .skills .fila .col h3{
    color: #5c6898;
    font-weight: 600;

 }

 .skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #4c5477;
 }

 .skills .skill .barra-skill{
    height: 8px;
    width: 300px;
    background-color: #5c6898;
    position: relative;
    margin-bottom: 30px;
    margin-top: 15px;
 }

 .skills .skill .progreso{
    background-color: #fdb3ca;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    
 }

 .skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #fdb3ca;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
    
 }


 /*Clases que se agregan dinamicamente con Javascript*/
 .skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;

 }

 @keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
 }

 .skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;

 }

 @keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 80%;}
 }

 .skills .skill .redux{
    width: 0%;
    animation: 2s redux forwards;

 }

 @keyframes redux {
    0%{width: 0%;}
    100%{width: 60%;}
 }

 .skills .skill .java{
    width: 0%;
    animation: 2s java forwards;

 }

 @keyframes java {
    0%{width: 0%;}
    100%{width: 40%;}
 }

 .skills .skill .express{
    width: 0%;
    animation: 2s express forwards;

 }

 @keyframes express {
    0%{width: 0%;}
    100%{width: 70%;}
 }


 .skills .skill .photo{
    width: 0%;
    animation: 2s photo forwards;

 }

 @keyframes photo {
    0%{width: 0%;}
    100%{width: 90%;}
 }

 .skills .skill .team{
    width: 0%;
    animation: 2s team forwards;

 }

 @keyframes team {
    0%{width: 0%;}
    100%{width: 85%;}
 }

 .skills .skill .creat{
    width: 0%;
    animation: 2s creat forwards;

 }

 @keyframes creat {
    0%{width: 0%;}
    100%{width: 95%;}
 }

 /*PORTFOLIO*/

.portfolio{
    padding: 50px 20px;
    color: #4c5477;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portfolio h2{
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
   
    color: #5c6898;
   
}

.portfolio .fila{
    display: flex;
    
    text-align: center;
}

.portfolio .fila .col{
    width: 49%;
    padding: 0 20px;
}

.portfolio .fila .col h3{
 font-weight: 600;
 margin-bottom: 25px;
}

.portfolio .fila .izquierda{
    border-right: 2px solid #5c6898;
   }

   .portfolio .fila .derecha{
    border-left: 2px solid #5c6898;
   }

   .portfolio .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color:#5c6898 ;
    border-radius: 25px;
    color: whitesmoke;
    position: relative;
    font-size: 15px;
   }

   .portfolio .fila .item:hover{
   
    background-color:#d1d5fa;
    border: 3px solid #4c5477;
    color: #5c6898;
    
   }

   .portfolio .fila .item h4{
   font-size: 20px;
   margin-bottom: 10px;
   }


   .portfolio .fila .col .texto p{
   font-weight: 600;
   font-size: 17px;
    }
 

    .projects .contenido-seccion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects .contenido-seccion h2{
       
        width: 150px;
        text-align: center;
        margin: 15px;
        background-color: #5c6898;
        color: whitesmoke;
        font-weight: 700;
        border-radius: 30px;
    }

    .projects .galeria{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
 
    .projects .galeria .proyecto{
        position: relative;
        max-width: 340px;
        height: fit-content;
        margin: 10px;
        cursor: pointer;
       
    }

    .projects .galeria .proyecto img{
        width: 100%;
        display: block;
    }

    .projects .galeria .proyecto h3{
       font-weight: 700;
       color: #4c5477 ;
       transition: 1s;
       
    }

    .projects .galeria .proyecto .overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: linear-gradient(rgba(140, 227, 210, 0.8), rgba(237, 245, 243, 0.867));
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        letter-spacing: 3px;
        opacity: 0;
    }
    .projects .galeria .proyecto .overlay a{
      text-decoration: none;
    }

    .projects .galeria .proyecto .overlay:hover{
       opacity: 1;
    }

    /*CONTAC ME */

    .contacto{
    background-color: #5c6898;
        color: whitesmoke;
        margin: 50px 0 0 0;
        padding: 40px 0;
        width: 100%;
    }

    .contacto .contenido-contacto{

       max-width: 1100px; 
       margin: auto;

    }

    .contacto .contenido-contacto h2{
        font-weight: 700;
        text-align: center;
        padding-bottom: 15px;
    }

    .contacto .fila{
        display: flex;
       
        justify-content: center;
       
    }

    .contacto .fila .col{
        width: 50%;
        padding: 10px;
        position: relative;
      
    }

    .contacto .fila .col input, .contacto .fila .col textarea{
       display: flex;
       width: 100%;
       padding: 18px;
       border: none;
       margin-bottom: 20px;
       background-color: #d1d5fa;
       border-radius: 5px;
       color: #4c5477;
       font-size: 18px;
       ;
    }

    .contacto .fila .col .centrar {
        display: flex;
        justify-content: center;
       
    }

    .contacto .button{
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #d1d5fa;
        padding: 15px 20px;
        border-radius: 30px;
        font-weight: 700;
        color: whitesmoke;
        font-size: 20px;
        
       
    }

    .contacto .button:hover{
        background-color: #a9dfe2;
        color: #5c6898;
        border: none;
    }

    footer{
        color: #5c6898;
        padding: 10px 0;
        text-align: center;
        position: relative;
        width: 100%;
       
    }

    footer .redes{
        margin: 10px;
       
    }

    footer .redes a{
        color:#5c6898;
        display: inline-block;
        text-decoration: none;
        border: 1px solid #5c6898;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        line-height: 42px;
        font-size: 40px;
        transition: .3s;
        
    }
    
    footer .redes a:hover{
       background-color:whitesmoke ;
        
    }


    footer .arriba{
        display: flex;
        width: 50px;
        height: 50px;
        background-color: #5c6898;
        color: white;
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
        border-radius: 50%;
        line-height: 50px;
        font-size: 18px; */
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 18px;
    }
    
    footer .centrar{
        display: flex;
    
       justify-content: center;
       margin-bottom: 5px;
       
    }

    /*RESPONSIVE*/
    @media screen and (max-width:980px){
        
        nav{
            display: none;
        }
       
        .menu-responsive{
            display: block;
        }

        nav.responsive{
            display: block;
            position: absolute;
            right: 0;
            top: 75%;
            background-color: #4c5477;
            
        }

        nav.responsive ul{
            display: block !important;
        }

        nav.responsive ul li{
            border-bottom: 1px solid #a9dfe2;
            padding: 10px 0;
        }
        
        .container {
            display: block;
            max-width: 100%;
            padding: 10px;
            position: fixed !important;
            
        }

        .about {
            
            min-width: 500px;
            width: 100%;
        }

        .about .contenido-about {
            
            padding: 0 15px;
           
        }

        .about .contenido-about .fila{
            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
           
        }
      
        
           
            .skills .contenido-section .fila{
               
                display: flex;
                flex-wrap: wrap;
                width: fit-content;
                
            }

            .skills .contenido-section .fila .col{
               
                margin: 0 5px;
                
            }


            

            .contacto .contenido-contacto{
               
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                
                
            }

            .contacto .contenido-contacto .fila{
                padding: 0;
                margin: 0;

              
            }

            .contacto .contenido-contacto .fila .col{
             
                width: 80%;
            }

    }


   


    @media screen and (max-width:600px){
       
        .portfolio .contenido-seccion .fila{
                
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }


}
   
    @media screen and (max-width:500px){
       
        .contacto {

            min-width: 500px;
        }

       

        .skills .contenido-section{
            min-width: 500px;

        }


        .portfolio .contenido-seccion .fila{
                
           min-width: 500px;
        }

}
   